<div class="container">
  <div class="hero-details" *ngIf="hero">
    <h2 class="hero-details__primary-text">
      Details
      <span class="hero-details__name-text">{{ hero.name | uppercase }} </span>
    </h2>
    <div class="hero-details__img-box">
      <img
        src="assets/img/hero.jpg"
        alt="Hero image"
        class="hero-details__img"
      />
    </div>
    <div class="hero-details__text-box">
      <span class="hero-details__hero-id">Id {{ hero.id }}</span>
      <input
        [(ngModel)]="hero.name"
        placeholder="name"
        class="hero-details__hero-name-input"
      />
    </div>

    <!-- <a (click)="save()">Save</a> -->
    <div class="hero-details__buttons">
      <app-button (click)="save()">Save</app-button>
      <app-button [color]="'white'" (click)="goBack()">Cancel</app-button>
    </div>
  </div>
</div>
