/* AppComponent's private CSS styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

h1 {
  font-size: 1.2em;
  margin-bottom: 0;
}

h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  background-color: transparent;

  &__link:link,
  &__link:visited {
    color: #334953;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 4px;
  }

  &__link:hover {
    color: #039be5;
  }

  &__menu {
    display: flex;
    align-content: center;
  }

  &__menu * {
    padding: .7rem;
    margin: 1rem .5rem;
  }

  &__search-box {}
}